.social-links{
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer {
  background-color: #519fc9; /* màu xanh đậm */
  color: white; /* chữ màu trắng cho dễ đọc */
  padding: 20px 0; /* khoảng cách trên dưới */
}