/* Banner */
#banner {
  position: relative;
  padding-top: 48%;
  background: url(../../../public/bgimage.avif) right / contain no-repeat;
}

#banner .text-banner {
  position: absolute;
  top: 48px;
  left: 32px;
}

#banner .heading-banner {
  font-size: clamp(20px, 5vw, 80px);
  font-family: system-ui;
  text-shadow: 0 0 1px #000;
}

#banner .desc-banner {
  font-size: clamp(5px, 3vw, 32px);
  font-style: oblique;
  margin-top: 12px;
  text-shadow: 0 0 1px #000;
  color: #0088a9;
  margin: 0;
}

/* Giới thiệu */
.container-fluid {
  padding: 2rem;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
}

.container-fluid h2 {
  font-weight: 600;
}

.container-fluid p {
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: center;
}

/* Môn học */
.category {
  margin-bottom: 1.5rem;
}

.course {
  background-color: #eef7fa;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: center;
}

.course h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #005f73;
}

.course:hover {
  transform: translateY(-5px);
}

.no-subjects {
  text-align: center;
  color: #888;
  font-style: italic;
}

.content-intro{
  background-color: #bcddef;
  border-radius: 8px;
}



.text-detail>p{
  font-size: 2.5rem;
  font-style: italic;
}