/* Background chính */
.main-background {
  background-image: url("D:\quiz\quiz\client\public\bgimage.avif"); /* Đảm bảo bạn đã đặt ảnh đúng ở public/bgimg.avif */
  background-size: contain;
  background-position: right;
  height: 500px; /* Chiều cao có thể điều chỉnh tùy ảnh */
  position: relative;
  background-repeat: no-repeat;
}

/* Tiêu đề và mô tả */
.main-background h1 {
  text-align: left;
  font-weight: bold;
  font-size: 4rem;
  color: #336699;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  margin-left: 3%;
}

.main-background p {
  text-align: left;
  font-size: 1.8rem;
  color: #0088a9;
  margin-left: 3%;
  margin-top: 1rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Giới thiệu */
.container-fluid {
  padding: 2rem;
  background-color: #f9f9f9;
  color: #333;
  
}

.container-fluid h2 {
  font-weight: 600;
}

.container-fluid p {
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: center;
}

/* Môn học */
.category {
  margin-bottom: 1.5rem;
}

.course {
  background-color: #eef7fa;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: center;
}

.course h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #005f73;
}

.course:hover {
  transform: translateY(-5px);
}

.no-subjects {
  text-align: center;
  color: #888;
  font-style: italic;
}

.content-intro{
  background-color: #bcddef;
  border-radius: 8px;
}



.text-detail>p{
  font-size: 2.5rem;
  font-style: italic;
}