/* Background chính */
.main-background {
  background-image: url('/public/bgimage.avif'); /* Đảm bảo bạn đã đặt ảnh đúng ở public/bgimg.avif */
  background-size: contain;
  background-position: right;
  height: 450px; /* Chiều cao có thể điều chỉnh tùy ảnh */
  position: relative;
  background-repeat: no-repeat;
}

/* Tiêu đề và mô tả */
.main-background h1 {
  text-align: left;
  font-weight: bold;
  font-size: 4rem;
  color: #336699;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  margin-left: 3%;
}

.main-background p {
  text-align: left;
  font-size: 1.8rem;
  color: #0088a9;
  margin-left: 3%;
  margin-top: 1rem;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

/* Giới thiệu */
.container-fluid {
  padding: 1rem;
  background-color: #f9f9f9;
  color: #333;
  
}

.container-fluid h2 {
  font-weight: 600;
}

.container-fluid p {
  font-size: 1.1rem;
  line-height: 1.7;
  text-align: center;
}

/* Môn học */
.category {
  margin-bottom: 1.5rem;
}

.course {
  background-color: #eef7fa;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  text-align: center;
}

.course h3 {
  margin: 0;
  font-size: 1.5rem;
  color: #005f73;
}

.course:hover {
  transform: translateY(-5px);
}

.no-subjects {
  text-align: center;
  color: #888;
  font-style: italic;
}

.content-intro{
  background-color: #bcddef;
  border-radius: 8px;
}

.text-detail>p{
  font-size: 2.5rem;
  font-style: italic;
}

.main-text{
  padding-top: 2rem;
}

@media (max-width: 576px) {
  .main-background{
    height: 200px;
  }

  .main-background h1 {
    font-size: 1.5rem; /* Giảm kích thước chữ */
    text-align: left; /* Căn giữa */
  }

  .text-detail {
    padding-left: 1rem;
    text-align: center; /* Căn giữa văn bản */
  }

  .text-detail p {
    font-size: 1.2rem; /* Giảm kích thước chữ */
    margin: 0.5rem 0;
  }

  .container-fluid {
    padding: 0.5rem;
  }

  .container-fluid h2 {
    font-size: 1.5rem;
  }

  .container-fluid p {
    font-size: 0.9rem;
    line-height: 1.5;
  }

  .content-intro {
    padding: 0.8rem;
    border-radius: 6px;
  }

  .course {
    padding: 1rem;
  }

  .course h3 {
    font-size: 1.1rem;
  }

  .no-subjects {
    font-size: 1rem;
  }
}