.category-center {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
}

.table-left,.table-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 49%;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 180px;
}

.table-left .info {
  flex: 1;
  text-align: left;
  margin-left: 2rem;
}

.table-left .info p {
  font-size: 15px;
}

.table-left .timer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.timer h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.timer span {
  color: red;
  font-size: 24px;
  font-weight: bold;
}

.category-end {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10rem;
}

.question {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-top: 10px;
}

.option {
  display: flex; /* Đảm bảo radio và label nằm trên cùng một dòng */
  align-items: center; /* Căn giữa các phần tử theo chiều dọc */
  flex-wrap: nowrap; /* Không cho phép phần tử xuống dòng */
  margin-bottom: 10px;
}

.radio-input {
  margin-right: 10px; /* Khoảng cách giữa nút radio và label */
  cursor: pointer;
}

.radio-label {
  font-size: 16px;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  word-wrap: break-word; /* Đảm bảo rằng văn bản dài không tràn ra ngoài */
  white-space: normal; /* Cho phép văn bản xuống dòng nếu cần */
  max-width: 100%; /* Đảm bảo label không vượt quá kích thước container */
  overflow-wrap: break-word; /* Đảm bảo văn bản dài được ngắt dòng */
}

.radio-label.selected {
  background-color: lightblue;
  border: 2px solid blue;
}

.submit-btn {
  padding: 10px 20px;
  background-color: #519fc9  ;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  align-self: center; /* Canh giữa nút submit */
}

.answer-sheet {
  width: 100%;
  padding: 10px;
}

.number {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #f0f0f0;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
}

.number.selected {
  background-color: lightblue;
  border: 2px solid blue;
}

.submit-btn:hover {
  background-color: #0056b3;
}