.content {
  width: 100%;
  height: 100%;
}

.content--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;

  background-color: var(--color-primary);

  color: var(--color-text-primary);
  border-radius: 8px;
  margin: 10px 20px 20px 5px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header--title {
  font-size: 28px;
  font-weight: bold;
  margin: 0;

  color: var(--color-background-card);
}

.header--activity {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-box {
  display: flex;
  align-items: center;

  background-color: var(--color-background-card);
  border-radius: 25px;
  padding: 8px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-box input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  width: 200px;
  border-radius: 25px;

  background-color: var(--color-background-card);
  color: var(--color-text-primary);
}

.search-box .icon {
  font-size: 20px;

  color: var(--color-primary);
  cursor: pointer;
  margin-left: 10px;
}

.notify {
  display: flex;
  align-items: center;
  position: relative;
}

.notify .icon {
  font-size: 28px;

  color: var(--color-background-card);
  cursor: pointer;
}

.notify .icon:hover {
  color: var(--color-text-secondary);
}

.notify::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;

  background-color: var(--color-danger);
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: block;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  border: 2px solid var(--color-background-card);
}

.avatar:hover .avatar-img {
  border: 2px solid var(--color-text-secondary);
}
