  .dashboard {
    display: flex;
    min-height: 100vh;
  }
  .dashboard--content {
    background: #fff;
    flex: 1;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }

  @media (max-width:739px) {
    .dashboard--content {
    padding: 4px;
    display: block;
  }
  }