.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 250px;
  flex-shrink: 0;
}

.main-content-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.content-header {
  height: 60px;
  flex-shrink: 0;
}

.scrollable-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 5px;
  border-radius: 26px;
}

.content {
  min-height: 100%;
}
