/* Truncate text with ellipsis in all table cells */
@media (min-width: 1024px) {
  .truncated-text {
      max-width: 150px; /* Adjust the max width as necessary */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      cursor: pointer;
    }
    
    .truncated-text:hover {
      white-space: normal;
      overflow: visible;
      text-overflow: clip;
    }
}


  