@media (min-width: 1024px) {
  .truncated-text {
    max-width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    max-width: 76px;
  }

  .truncated-text:hover {
    white-space: normal;
    overflow: visible;
    text-overflow: clip;
  }
}
