.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  gap: 5px;
}

.pagination .btn {
  padding: 8px 12px;

  border: 1px solid var(--color-border);
  border-radius: 5px;

  background-color: var(--color-background-card);

  color: var(--color-text-primary);
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.pagination .btn:hover {
  background-color: var(--color-sidebar-hover);

  border-color: var(--color-border);
}

.pagination .btn-primary {
  background-color: var(--color-primary);

  color: var(--color-background-card);

  border-color: var(--color-primary);
}

.pagination .btn-primary:hover {
  background-color: color-mix(in srgb, var(--color-primary) 90%, black);
  border-color: color-mix(in srgb, var(--color-primary) 80%, black);
}

.pagination .btn:disabled {
  background-color: var(--color-sidebar-active);

  color: var(--color-text-secondary);
  cursor: not-allowed;

  border-color: var(--color-border);
}
