.responsive-table {
  width: 100%;
  border-collapse: collapse;

  background-color: var(--color-background-card);
  border-radius: 25px;
  padding: 20px;
}
.responsive-table th,
.responsive-table td {
  border: 1px solid var(--color-border);
  padding: 8px;
  text-align: left;

  color: var(--color-text-primary);
}
.responsive-table th {
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .heading-content {
    text-align: center;
  }

  .dashboard .menu {
    display: none;
  }

  .responsive-table thead {
    display: none;
  }

  .responsive-table,
  .responsive-table tbody,
  .responsive-table tr,
  .responsive-table td {
    display: block;
    width: 100%;
  }

  .responsive-table tr {
    margin-bottom: 1rem;

    border: 1px solid var(--color-border);
    padding: 10px;

    background: var(--color-sidebar-active);
    border-radius: 6px;
  }

  .responsive-table td {
    position: relative;
    padding-left: 50%;
    border: none;

    border-bottom: 1px solid var(--color-border);
    overflow: hidden;
  }

  .responsive-table td {
    color: var(--color-text-primary);
  }

  .responsive-table td::before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    top: 8px;
    font-weight: bold;
    white-space: nowrap;

    color: var(--color-text-secondary);
  }
}
