* {
  margin: 0;
  top: 0;
  box-sizing: border-box;
}

/* Nút đóng mở menu */
.menu-btn {
  display: none;
  font-size: 14px;
}

#main {
  height: 46px;
  width: 100%;
}

#header {
  height: 46px;
  width: 100%;
}

/* Navbar */
#nav {
  display: flex;
  align-items: center;
  list-style: none;
  height: 46px;
  background-color: #519fc9;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

#nav > li > a {
  text-decoration: none;
  line-height: 46px;
  color: #fff;
  padding: 0 20px;
  display: inline-block;
  transition: color 0.2s;
}

#nav li:hover a {
  color: #1a1917;
}

#nav li:nth-last-child(2) {
  margin-left: auto; /* đẩy 2 thẻ cuối sang phải */
  display: flex;
  align-items: center;
}

/* Button ngôn ngữ */
.btn-language {
  border: none;
  background: #519fc9;
  color: #f0f0f0;
  margin: 0 12px;
  line-height: 46px;
  text-align: center;
  text-transform: uppercase;
}

.btn-language:hover {
  color: #1a1917;
  opacity: 0.8;
}


/* Icon người dùng */
.user-icon {
  cursor: pointer;
  font-size: 20px;
  padding: 8px;
  color: #f0f0f0;
  transition: background-color 0.2s ease;
}

.user-icon:hover {
  color: #1a1917;
  opacity: 0.8;
}

/* Dropdown menu */
.dropdown-menu-icon {
  position: absolute;
  right: 8px;
  top: 46px;
  background-color: white;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  min-width: 150px;
  z-index: 10000;
}

.dropdown-menu-icon li {
  padding: 8px 16px;
}

.dropdown-menu-icon li a {
  color: #333;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s ease;
}

.dropdown-menu-icon li a:hover {
  color: #1a1917;
  opacity: 0.8;
}


