.category-exam {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    min-height: 100vh; /* Đảm bảo chiều cao đầy đủ cho toàn bộ trang */
}

.container-exam {
    width: 100%;
    max-width: 800px; /* Tăng width tối đa của container để card rộng hơn */
    margin: 20px;
    text-align: center;
}

.category-header {
    font-size: 24px;
    margin: 20px 0;
    font-weight: bold;
    color: #333;
}

.card-listexam {
    height: 200px; /* Tăng chiều cao card một chút để các phần tử trong đó không bị chật */
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Thêm hiệu ứng cho shadow */
}

.card.completed {
    background-color: #d4edda; /* Màu nền khi đã làm bài (ví dụ màu xanh nhạt) */
    border-color: #c3e6cb; /* Đổi màu viền */
}

.card-content-listexam {
    position: relative;
    text-align: left;
    margin-bottom: 20px; /* Thêm margin dưới để không bị dính vào nút */
}

.card-content-listexam h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.card-content-listexam h3 {
    font-size: 16px;
    margin: 0;
    color: #555;
}

.details {
    margin-top: 10px;
}

.details span {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-right: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.details span:last-child {
    margin-right: 0;
}

.card-button-listexam {
    background-color: #519fc9;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 20px; /* Đặt nút ở cuối card */
    right: 20px; /* Đặt nút về phía bên phải */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng */
}

.card-button-listexam:hover {
    background-color: #0056b3;
    transform: scale(1.05); /* Hiệu ứng phóng to khi hover */
}

.no-questions-message {
    font-size: 24px;
    margin: 20px 0;
    color: #666;
    text-align: center;
}

.error-message {
    font-size: 18px;
    color: red;
    text-align: center;
    margin-top: 20px;
}