/* PC */

@media (max-width:1024px) {
    
}

/* Tablet and mobile */
@media (max-width: 1023px) {
    .revision .sidebar{
        display: none;
    }
}

/* Tablet */
@media (min-width:740px) and (max-width:1023px) {

}

/* Mobile */
@media (max-width:739px) {
    .category-re .card-content h3 {
        font-size: clamp(22px, 2vw, 25px);
    }

    .category-re .card-exam {
        display: block;
        width: 100%;
        margin: 12px 0;
    }
}